/*-------------------- Page ------------------*/

body {
    background-image: url('images_cv/green_cup.png');
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
/*-------------------- Header ------------------*/

header {
    margin: 0;

    background-image: url('images_cv/symphony.png');
    background-repeat: repeat;
    background-attachment: fixed;

    color: grey;
    font-family: Helvetica, sans-serif;
}
img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.titre {
    margin-top: 50px;
    margin-left: 0px;
}
header.col-md-6 {
    padding: 0px;
}
/*--------------------- Main -------------------*/
.texte {
    min-width: 150px;
    vertical-align: top;
    margin-top: 10px;
    padding: 10px;
}

/*-------------------- Footer ------------------*/

footer {
    margin: 0;
    height: 470px;

    background-image: url('images_cv/symphony.png');
    background-repeat: repeat;
    background-attachment: fixed;
}
iframe {
    margin-top: 10px;
}
footer p {
    margin-top: 15px;
    color: grey;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}