/*------------------ Page ---------------------*/
body {
background-color: #3f4042;
}

/*------------------ Header ---------------------*/
header {
    width: 100%;
    height: 100px;
    margin-bottom:3px;
    background-color: #37BBD2;
}
h1 {
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
}
/*------------------ Images ---------------------*/
.big {
    position: relative;
    height: 500px;
    margin: 3px;
    background-color: #ccc;
}
.small {
    position: relative;
    height: 250px;
    background-color: #ccc;
}
row, col-md-4, col-md-6 {
    margin: 0;
    padding:0;
}

/*------------------ Buttons ---------------------*/
a {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: violet;
    color: #fff;
    font-size: 1.3em;
}

p, span {
    display: inline-block;
    margin: 20px 30px 0px 20px;
}
/*------------------ Colors ---------------------*/
.white
.grey
.red
.dark-red
.violet
.dark-violet
.green
.dark-green
.yellow
.dark-yellow
.blue
.dark-blue

.
